<section class="leaderboard">
  <div class="center-section">
    <h1 class="leaderboard__title h1">top 10 rebels</h1>
    <p class="leaderboard__description h1-desc">
      Bądź najlepszym, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    </p>
    <ul class="leaderboard-list">
      <li class="leaderboard-list__element">
        <div class="avatar">
          <img src="src/images/av1.png" alt="av1" />
        </div>

        <div class="leaderboard-list__middle-column">
          <div class="leaderboard-list__username">Ivan Explorov</div>
          <ul class="leaderboard-list__badges">
            <li><img src="src/images/badge1.png" alt="badge1" /> </li>
            <li><img src="src/images/badge2.png" alt="badge2" /> </li>
            <li><img src="src/images/badge3.png" alt="badge3" /> </li>
          </ul>
        </div>

        <div class="leaderboard-list__last-column">
          <div class="points-counter--leaderboard">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 235</span>
          </div>
        </div>

      </li>

      <li class="leaderboard-list__element">
        <div class="avatar">
          <img src="src/images/av2.png" alt="av2" />
        </div>

        <div class="leaderboard-list__middle-column">
          <div class="leaderboard-list__username">Mirko Ivanovic</div>
          <ul class="leaderboard-list__badges">
            <li><img src="src/images/badge1.png" alt="badge1" /> </li>
            <li><img src="src/images/badge2.png" alt="badge2" /> </li>
            <li><img src="src/images/badge3.png" alt="badge3" /> </li>
          </ul>
        </div>

        <div class="leaderboard-list__last-column">
          <div class="points-counter--leaderboard">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 235</span>
          </div>
        </div>

      </li>

      <li class="leaderboard-list__element">
        <div class="avatar">
          <img src="src/images/av3.png" alt="av3" />
        </div>

        <div class="leaderboard-list__middle-column">
          <div class="leaderboard-list__username">Vladimir Putonov</div>
          <ul class="leaderboard-list__badges">
            <li><img src="src/images/badge1.png" alt="badge1" /> </li>
            <li><img src="src/images/badge2.png" alt="badge2" /> </li>
            <li><img src="src/images/badge3.png" alt="badge3" /> </li>
          </ul>
        </div>

        <div class="leaderboard-list__last-column">
          <div class="points-counter--leaderboard">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 235</span>
          </div>
        </div>

      </li>

      <li class="leaderboard-list__element">
        <div class="avatar">
          <img src="src/images/av4.png" alt="av4" />
        </div>

        <div class="leaderboard-list__middle-column">
          <div class="leaderboard-list__username">Roman Romanov</div>
          <ul class="leaderboard-list__badges">
            <li><img src="src/images/badge1.png" alt="badge1" /> </li>
            <li><img src="src/images/badge2.png" alt="badge2" /> </li>
            <li><img src="src/images/badge3.png" alt="badge3" /> </li>
          </ul>
        </div>

        <div class="leaderboard-list__last-column">
          <div class="points-counter--leaderboard">
            <img src="src/images/mrx.png" alt="mrx" /><span> x 235</span>
          </div>
        </div>

      </li>

    </ul>
  </div>
</section>
