<section class="tasks">
  <div class="center-section">
    <h1 class="tasks__title h1">Moje zadania</h1>
    <p class="tasks__description h1-desc">Wykonuj zadania, aby zdobywać mrxy i wymieniać je na nagrody w PEVEXie.</p>

    <h2 class="tasks__active h2 floated-line">Moje aktywne zadania</h2>

    <div class="task">
      <ul>
        <li class="task__description">
          <div>
            <h3>Inglisz Frajdej</h3>
            <p class="h1-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <ul class="lifes">
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart-off.png" alt="heart-off" /></li>
            </ul>
          </div>

        </li>
        <li class="task__start">
          <div>
            <h4 class="h1-desc">Rozpoczęto</h4>
            <strong>8:00</strong>
            <em>12.10.2016</em>
          </div>
        </li>
        <li class="task__prize">
          <div>
            <h4 class="h1-desc">Nagroda</h4>
            <div class="points-counter">
              <img src="src/images//mrx.png" alt="mrx" /><span> x 2</span>
            </div>
          </div>
        </li>
        <li class="task__action-button">
          <div>
            <a href="#" class="btn">oberwałem!</a>
          </div>
        </li>

      </ul>

      <div class="level-progressbar">
        <div class="level-progressbar__done"></div>
        <div class="level-progressbar__notdone"></div>
      </div>
    </div>

    <div class="task">
      <ul>
        <li class="task__description">
          <div>
            <h3>Inglisz Frajdej</h3>
            <p class="h1-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
            <ul class="lifes">
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart.png" alt="heart" /></li>
              <li><img class="lifes__life" src="src/images//heart-off.png" alt="heart-off" /></li>
            </ul>
          </div>

        </li>
        <li class="task__start">
          <div>
            <h4 class="h1-desc">Rozpoczęto</h4>
            <strong>8:00</strong>
            <em>12.10.2016</em>
          </div>
        </li>
        <li class="task__prize">
          <div>
            <h4 class="h1-desc">Nagroda</h4>
            <div class="points-counter">
              <img src="src/images//mrx.png" alt="mrx" /><span> x 2</span>
            </div>
          </div>
        </li>
        <li class="task__action-button">
          <div>
            <a href="#" class="btn">oberwałem!</a>
          </div>
        </li>

      </ul>

      <div class="level-progressbar">
        <div class="level-progressbar__done"></div>
        <div class="level-progressbar__notdone"></div>
      </div>
    </div>

    <h2 class="tasks__new h2 floated-line">Zadania do wykonania</h2>

    <div class="task">
      <ul>
        <li class="task__description">
          <div>
            <h3>Inglisz Frajdej</h3>
            <p class="h1-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>

        </li>
        <li class="task__life-counter">
          <div>
            <h4 class="h1-desc">Ilość żyć</h4>
            <div class="points-counter">
              <img src="src/images//heart.png" alt="heart" /><span> x 3</span>
            </div>
          </div>
        </li>
        <li class="task__prize">
          <div>
            <h4 class="h1-desc">Nagroda</h4>
            <div class="points-counter">
              <img src="src/images//mrx.png" alt="mrx" /><span> x 2</span>
            </div>
          </div>
        </li>
        <li class="task__action-button">
          <div>
            <a href="#" class="btn">rozpocznij</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</section>
