
.products {
  background-image: url('../images/products.jpg');
  height: 628px;

  .products-list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    li {
      width: 31%;
      border: 1px solid #333;
      padding: 40px 0;
      margin-bottom: 30px;


    }

    &__item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #333;
      padding-bottom: 30px;
      margin-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;

      img {
        margin-right: 20px;
        height: 30px;
      }

      h3 {

      }

      h4 {
        font-size: 10px;
        color: #EABF06;
        margin-top: 7px;
      }

    }

    &__controls {
      display: flex;
      align-items: center;
      padding-left: 30px;

      .points-counter {
        margin-right: 40px;
      }

      img {
        height: 20px;
      }
    }

  }

}
