<nav class="main-navigation">
  <ul class="main-navigation__items">
    <li class="main-navigation__logo"><img src="dist/images/logo.png" alt="Apocalypternet - logo" /></li>
    <li class="main-navigation__vertical-line--short"></li>
    <li class="main-navigation__slogan"><p>The day the Internet has been destroyed</p></li>
    <!-- <li class="main-navigation__menu-element"><a [routerLink]="['LEVEL']" class="btn">pevex</a></li>
    <li class="main-navigation__menu-element"><a [routerLink]="['LEADERBOARD']" class="btn--current">ranking</a></li>
    <li class="main-navigation__menu_element"><a [routerLink]="['MAIN']" class="btn">zadania</a></li> -->
    <li class="main-navigation__vertical-line--long"></li>
    <li class="main-navigation__user-profile">
      <div class="avatar">
        <img src="dist/images/main_avatar.png" alt="Ivan Explorov" />
      </div>
      <span>Ivan Explorov</span>
    </li>
    <li class="main-navigation__vertical-line--short"></li>
    <li class="main-navigation__points-counter points-counter--user">
      <img src="dist/images/mrx.png" alt="mrx" /><span> x 1000</span>
    </li>
  </ul>
</nav>
